@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

:root {
    --foreground-color: #4a4a4a; /* Dark Gray for text */
    --background-color: #ffffff; /* Pure White */
    --accent-color: #add8e6; /* Light Blue Accent */
    --soft-gray: #f0f0f0; /* Soft Gray */
    --mid-gray: #e0e0e0; /* Light Silver */
    --dark-gray: #c8c8c8; /* Cool Gray */
}

.mpnav{
    display: flex;
    justify-content: center;
    align-items: center;
}