@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

:root {
  --foreground-color: #4A4A4A; /* Dark Gray for text */
  --background-color: #FFFFFF; /* Pure White */
  --accent-color: #ADD8E6; /* Light Blue Accent */
  --soft-gray: #F0F0F0; /* Soft Gray */
  --mid-gray: #E0E0E0; /* Light Silver */
  --dark-gray: #C8C8C8; /* Cool Gray */
}

.logNav {
  width: 96%;
  margin-inline: 2%;
  display: flex;
  align-items: center;
  height: 4rem;
  border-radius: 2rem;
  background: linear-gradient(var(--soft-gray), var(--mid-gray));
  position: fixed;
  top: 0;
  margin-top: 1%;
  box-shadow: 0rem 1rem 1rem -0.5rem var(--dark-gray);
  z-index: 10;
  transition: transform 0.3s ease-in-out, margin-top 0.3s ease-in-out, background 0.7s ease-in-out, backdrop-filter 0.7s ease-in-out;
  overflow: hidden;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.logNav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(var(--mid-gray), var(--soft-gray));
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.logNav.opacNav::before {
  opacity: 1;
}

.logNav.hide {
  transform: translateY(-100%);
  margin-top: 0.5%;
}

.logNav:hover {
  transform: translateY(0);
  margin-top: 1%;
}

.logNav > p {
  margin-block: auto;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  position: relative;
  z-index: 1;
}

.logNavLogo {
  margin-inline: 3% 1%;
  position: relative;
  z-index: 1;
}

.logNavLogo img {
  height: 3rem;
  width: 3rem;
}
.navItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    left: 60%;
    position: absolute;
    transform: translate(-55%);
}
.navItems p{
  margin-block: auto;
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
  position: relative;
  z-index: 1;
}

a{
    text-decoration: none;
}

.navBtns {
  margin-right: 3%;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12%;
  background: none;
  position: relative;
  z-index: 1;
}

/* Glassmorphism effect for buttons with shiny line effect */
.glassButton {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--foreground-color);
  font-size: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 0.5rem;
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: transform 300ms ease-out, background-color 500ms ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glassButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-135deg);
  transition: left 500ms ease-out;
}

.glassButton:hover {
  transform: translateY(-15%);
  background-color: rgba(255, 255, 255, 0.2);
}

.glassButton:hover::before {
  left: 100%;
}
