@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");
:root {
    --foreground-color: white;
  }

.loginpg{
    height: 200vh;
    background-color: #714da6;
}

.loginForm {
    display: flex;
    justify-content: center;
  }
  
  .cssbuttons-io-button {
    /* background: #a370f0; */
    background: none;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 2em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }

.wrap {
  width: 400px;
  background: transparent;
  color: black;
  border-radius: 10px;
  border: 2px solid rgb(13, 202, 240);
  padding: 30px 40px;
  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
}

.wrap h1 {
  font-size: 36px;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0px;
  font-size: 16px;
  color: black;
}

.input-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
  color: black;
}

.input-box input::placeholder {
  color: black;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.remember-forget {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0px 15px;
}

.remember-forget label input {
  accent-color: #54d1c9;
  margin-right: 3px;
}
.remember-forget a {
  color: #54d1c9;
  text-decoration: none;
  padding-right: 10px;
}

.remember-forget a:hover {
  text-decoration: underline;
}

.register-link {
  display: flex;
  justify-content: center;
  font-size: 14.5px;
  margin: 20px 0px 15px;
}

.register-link a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.btn1 {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 40px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden;
  transition: background-color 500ms ease-out, transform 500ms ease-out;
}

.btn1::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  transform: skewX(45deg);
  transition: left 500ms ease-out;
}

.btn1:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-10%);
}

.btn1:hover::before {
  left: 100%;
}

.Toastify__toast {
  border-radius: 8px;
}

.Toastify__toast--success {
  background: lavender;
  color: white;
}

.Toastify__toast--error {
  background: lavender; 
  color: black;
}

.Toastify__toast-body {
  font-size: 16px;
  padding: 10px;
}

.Toastify__toast-container {
  top: 20px;
}
